Tuple items are ordered, unchangeable, and allow duplicate values.
tuple can containe diff type of data

In [23]:
myTuple = ("abc", 34, True, 40, "male","abc")
print(myTuple)
# myTuple.index(34)
# myTuple.count("abc")

('abc', 34, True, 40, 'male', 'abc')

2

In [2]:
fruits = ("apple", "banana", "cherry")
print(type(fruits))

<class 'tuple'>

One item tuple, remember the comma

In [7]:
fruit = ('apple',) # tuple
print(type(fruits))

sFruit = ('mango') # str
print(type(sFruit))

<class 'tuple'>
<class 'str'>

Change Tuple Values

In [13]:
fruits = ("apple", "banana", "cherry")
sFruits = list(fruits)

sFruits[0] = 'kiwi'
fruits = tuple(sFruits)
print(fruits)

('kiwi', 'banana', 'cherry')

In [15]:
# unpack
fruits = ("apple", "banana", "cherry")
f1,f2,f3 = fruits
print(f1)
print(f2)
print(f3)

apple
banana
cherry

In [17]:
# Join
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
print(tuple1+tuple2)

('a', 'b', 'c', 1, 2, 3)

Set

A set is a collection which is unordered, unchangeable*, and unindexed.

Sets cannot have two items with the same value

In [3]:
set1 = {"apple", "banana", "cherry", "apple"}
print(set1)
print(len(set1))

{'cherry', 'banana', 'apple'}
3